.col-lg-3 {
    width: 15%;
    position: fixed;
    top: 150px;
    left: 50px;
    z-index: 250;
}

.col-md-4 {
    background-color: #2c3840;
    padding: 1%;
}

.thumbnail {
    height: 300px;
    margin-top: 4px;
    width: auto;
}

.pagenumber {
    width: 50px;
    height: auto;
    text-align: center;
    margin-bottom: 5px;

}

.choosepage {
    padding-left: 5px;
}

.thumbnail2 {
    margin-top: 4px;
}

.shopimg {
    height: 55%;
    width: 55%;
}

.stockimg {
    right: 23px;
    position: absolute;
}

.shop-bar {
    justify-content: space-between;
    display: flex;
}

.pages {
    width: auto;
    height: 60px;
}

.product-search {
    align-items: baseline;
    width: 500px;
    text-align: right;
}

.index {
    height: 220px;
}
